{
  "extends": ["standard"],
  "plugins": ["import"],
  "rules": {
    "import/no-unresolved": ["error"],
    "comma-dangle": ["error", "only-multiline"],
    "object-curly-spacing": ["error", "never"]
  }
}
