* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#page-header h1 {
    margin: 0;
    text-align: center;
    padding: 1em;

    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-size: 4em;
    letter-spacing: 0.1em;
}
#page-body {
    width: 70%;
    max-width: 768px;
    margin: 2em auto;
}
#page-footer {
    padding: 1em;
    font-size: 0.8em;
    color: #aaa;
    text-align: center;
}

.meeting-column-container {
    overflow: auto;
}
.meeting-column {
    float: left;
    width: 33%;
    padding: 1%;
}
.appear.ng-enter,
.appear.ng-leave {
  -webkit-transition:0.5s linear all;
  -moz-transition:0.5s linear all;
  -o-transition:0.5s linear all;
  transition:0.5s linear all;
}
.appear.ng-enter,
.appear.ng-leave.ng-leave-active {
  opacity:0;
}
.appear.ng-leave,
.appear.ng-enter.ng-enter-active {
  opacity:1;
}



/* Tablet(ish) view. */
@media only screen and (max-width: 960px) {
    #page-header h1 {
        padding: 0.7em;
    }
    #page-body {
        width: 85%;
    }
}
/* Mobile(ish) view. */
@media only screen and (max-width: 500px) {
    #page-header h1 {
        padding: 0.4em;
    }
    #page-body {
        width: 98%;
    }
}