* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.chart-container {
    width: 800px;
    height: 480px;
    margin: -240px auto 0 auto;
    position: relative;
    top: 50%;
}
