h1 {
    text-align: right;
    padding: 1em;
    font-family: Helvetica, Arial, sans-serif;
}
#field {
    display: block;
    background-color: #eee;
    border: 1px solid black;
    margin: 1em auto;
}
