body, html {
    margin: 0;
    padding: 0;
}
h1, h2 {
    font-family: Helvetica, Arial, sans-serif;    
}
.banner {
    margin: 0;
    padding: 1em;
    
    background-color: black;

    color: white;
    text-align: right;
    
    box-shadow: 0 0.2em 0.5em rgba(0, 0, 0, .4);
}
.content {
    width: 50%;
    min-width: 600px;
    margin: 0 auto;
    
    text-align: center;
}
